.firstarticle > ul {
    display:block;
}

.content > ul {
    display:none;
}

.content .active {
    display: block;
}


/*큰 틀 크기 정하기*/
.main {
    /* display: flex;
    height: 315px;
    box-sizing: border-box; 
    position: absolute;
    padding-right: 30px; */
    flex : 1;
    margin-top: 30px;
    position: relative;
}

/*list의 기본스타일 없앰 */
li {
    list-style: none;
}


.tab-menu {
    margin: 0;
    padding: 0;
    top: 10px;
    position: relative;
    width: 100%;
    height: 50px;
    background:#0056b3;
}

.tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    bottom: 0;
    font-size: 20px;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
}

.tab-link {
    display: inline-block;
    padding: 0px 14px;
    color: rgba(255, 255, 255, .7);
    height: 38px;
    line-height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.tab-link.tab01.active {
    position: relative;
    height: 50px;
    display: flex;
    padding: 0px 14px;
    background-color:#c71514;
    transform: translate(-50%, 0) skew(-25deg);  
    margin-left: 40px;
}

.tab_span{
    display: flex;
    font-family: 'Noto DemiLight';
    font-size: 16px; /* 원하는 글씨 크기로 변경 */
    color: rgba(255, 255, 255, .7);
    text-align: center;
    transform: translate(0, 0)
}

.tab-link.tab01.active .tab_span {
    display: inline-block;
    vertical-align: middle;
}



.tab-link.active{
    position: relative;
    height: 50px;
    display: flex;
    padding: 0px 14px;
    background-color:#c71514;
    transform: translate(-20%, 0) skew(-25deg);
}



/*.tab-link.tab02 {
    display:inline-block;
    margin-bottom:20px;
}*/

.tab-content {
    display: none;
    border: 1px solid hsl(0, 0%, 87%);
    border-top: none;
    text-align: center;
}

.tab-content.active {
    display: block;
    text-align: center;
}

.more-button {
    position: absolute;
    right: 0;
    top:0;
    /*z-index: 2;*/
    width: 50px;
    height: 50px;
    background: #295ca4;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    border: none;
    margin-left: auto;
    transition: background-color 0.3s;
}

/*.more-button:hover {
    background-color: #0056b3;
}*/

/*내가 따로 더 추가한거 */
a:link {
    display: block;
    text-align: center;
    color: black; /* 링크 방문 전 색상 */
    text-decoration: none; /* 밑줄 제거 */
    text-align: center;
}

a:visited {
    color: black; /* 링크 방문 후 색상 */
    text-decoration: none; /* 밑줄 제거 */
}
.conbox {
    position: relative;
    background: #fff;
    transition: .4s;
}

.con {
    display: table; /*table형식으로 .. 한 이유가 있나*/
    table-layout: fixed;
    padding: 0 35px 0px 40px;
    border-bottom: 1px solid #e5e5e5;
    display:flex;
    justify-content: space-between;  /* 두 요소 간의 공간 분배 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 65px;
}

/*마우스 올리면 색깔 변하는..*/
ul li.conbox {
    transition: background-color 0.3s;
}
ul li.conbox:hover {
    background-color: lightgray;
    border-left: 2px solid #c71513;
}

/*글씨부분도 빨강으로 바뀌는 부분 필요*/

/* 
.conbox{
    padding:0 35px 0 40px; 
    border-bottom: 1px solid #e5e5e5;
}*/

.date {
    padding-right: 20px;
    vertical-align: middle;
    text-align: right;
    font-family: 'TitilliumWeb-Light';
    font-size: 16px;
    color: #656565;

}

li {
    margin:0;
    padding:0;
}

.title {
    padding: 10px 0 10px 0 ;
}